{% extends 'fijos.html' %}
{% block title %}Campaña_registrada{% endblock %}
{% block content %}
<main class="flex-shrink-0">
    <div class="container">
        <br>
        <img src="https://www.nicepng.com/png/detail/61-618868_thank-you-wax-seal-style-stamp-icon.png" width="20%" height="20%" position="center" alt="Imagen gracias">
        <h1 class="mt-5">Registro de campaña exitoso</h1>
        <p class="lead">Muchas gracias por tu confianza en nosotros.</p>
        <p class="lead">Nos estaremos comunicando contigo.</p>
        <a href="{% url 'index' %}">Volver al Inicio</a>
    </div>
</main>
<hr>
<br>
{% endblock %}