{% extends "fijos.html" %}
{% load static %}
{% block title %}Campañas{% endblock %}
{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Explora las campañas del sitio</h1>
        <p class="lead text-body-secondary">Mira qué campañas están disponibles. Puedes filtrarlas por categorías y tener una vista rápida de todas nuestras campañas.</p>
      </div>
    </div>
  </section>

<div class="py-2 bg-light">
    <div class="container">
      <form method="GET" action=""><!--filtro por categorias-->
        <div class="mb-3">
            <label for="filtroCategoriaCAMP" class="form-label">Filtrar por Categoria:</label>
            <select class="form-select" id="filtroCategoriaCAMP" name="categoria_CAMP_filtro">
                <option value="" selected>Todos</option>
                <option value="gastos_medicos">Gastos Médicos</option>
                <option value="educacion">Educación</option>
                <option value="deporte">Deporte</option>
                <option value="animal">Animal</option>
                <option value="emprendimiento">Emprendimiento</option>
                <option value="arte">Arte</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary text-light">Aplicar filtro</button>
      </form>
<br>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for campaña in lista_campañas %}
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{{ campaña.imagen }}" weight="250" height="300" alt="Imagen de campaña">
                  <div class="card-body">
                    <strong>
                      <p class="card-text">{{ campaña.nombre_campania }}</p>
                    </strong>
                    <p class="card-text">{{ campaña.descripcion | slice:":100"}}... </p>                    
                      <div class="text-center">
                          <span class="badge rounded-pill text-bg-secondary"><i class="bi bi-people"></i>${{ campaña.monto_recaudado }} Recaudado</span>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                         <div class="btn-group">
                            <a href="{% url 'perfil_detallado_camp' campaña.id %}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver más...</button> 
                            </a>
                        </div>
                        {% if fecha_actual >= campaña.fecha_cierre %}
                        <small class="text-body-secondary">Campaña cerrada</small>
                        {% else %}
                        <small class="text-body-secondary">Se cierra: {{ campaña.fecha_cierre }}</small>
                        {% endif %}
                      </div>
                  </div>
                  </div>
              </div>
          {% endfor %}
      </div>
    </div>
</div>                    
{% endblock %}


