{% extends "fijos.html" %}
{% block title %}Contacto{% endblock %}
{% block content %}
<body>
    <main>
        <div class="container mt-5">
            <div class="row h-100 justify-content-center align-items-center">        
                <div class="col-md-4">
                    <h3 class="text-center">Datos de contacto</h3>

                    <form action="#" class="m-auto needs-validation" novalidate autocomplete="off">
                        <div class="form-floating mt-2">
                            <input type="email" class="form-control" id="floatingEmailInput" placeholder="nombre@dominio.com" required>
                            <label for="floatingEmailInput">Email</label>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="text" class="form-control" id="floatingNombreInput" placeholder="Nombre" required minlength="2">
                            <label for="floatingNombreInput">Nombre y Apellido</label>
                            <div class="invalid-feedback">
                                Ingrese su nombre, debe tener al menos 3 caracteres
                            </div>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="number" class="form-control" id="floatingApellidoInput" placeholder="number" required minlength="2">
                            <label for="floatingApellidoInput">Teléfono</label>
                        </div>
                        <div class="form-floating mt-2">
                            <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate="Please Type Your Message">
                                <textarea class="form-control" rows="3" name="message" placeholder="Mensaje"></textarea>
                            </div>
                        </div>

                        <div class="btn-group w-100 my-3" role="group" aria-label="Botones SignUp">
                            <button class="btn btn-primary" type="submit">Enviar</button>
                            <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>       
    </main>
</body>
</html>
<hr>
<br>
{% endblock %}