{% extends "fijos.html" %}
{% load static %}
{% block title %}Sobre Nosotros{% endblock %}
{% block content %}

<br><br>
    <div class="jumbotron text-bg-secondary">
      <div class="container">
        <br>
        <h1>CONÓCENOS</h1>
        <br>
        <p>Conoce a las personas detrás de este proyecto</p>
        <br>
      </div>
    </div>
<br><br>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.kindpng.com/picc/m/171-1712282_profile-icon-png-profile-icon-vector-png-transparent.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Frank Toro</h5>
                    <p class="card-text">Biografia Frank. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-bd-primary">LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.kindpng.com/picc/m/171-1712282_profile-icon-png-profile-icon-vector-png-transparent.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Pedro Espinoza</h5>
                    <p class="card-text">Biografia Pedro. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-bd-primary">LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.kindpng.com/picc/m/171-1712282_profile-icon-png-profile-icon-vector-png-transparent.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Valeria Villarreal</h5>
                    <p class="card-text">Biografia Valeria. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="http://www.linkedin.com/in/ValeriaNVillarrealV" class="btn btn-primary btn-bd-primary">LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
          <h2>Frank Toro</h2>
          <p>Biografía Frank </p> <br>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default text-bg-danger" href="#" role="button">LinkedIn &raquo;</a></p>
        </div> -->
        <!-- <div class="col-md-4">
            <h2>Pedro Espinoza</h2>
            <p>Biografía Pedro </p> <br>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default text-bg-danger" href="#" role="button">LinkedIn &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Valeria Villarreal</h2>
            <p>Biografía Valeria </p> <br>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default text-bg-danger" href="http://www.linkedin.com/in/ValeriaNVillarrealV" role="button">LinkedIn &raquo;</a></p>
        </div>
        <hr>
    </div> -->
    <hr>
<br>
{% endblock %}