{% extends "fijos.html" %}
{% load tz %}
{% load static %}
{% block title %}Campaña{% endblock %}
{% block content %}
<main class="container"> <!--se deja el main porque cambian los margenes-->

  <div class="p-6 p-md-3 mb-1 rounded text-body-emphasis bg-primary-subtle text-center">
    <h1 class="text-center text-black">{{ campaña.nombre_campania }}</h1>
  </div>

  <div class="row g-5">
    <div class="col-md-8">  
      <br>
      <article class="blog-post">
        <br>
        <div class="images d-flex justify-content-center">
          <img src="{{ campaña.imagen }}" width="600" height="500" alt="Imagen de campaña">
        </div>
        <br>
        <div class="text-justify">
          {{ campaña.descripcion }}
        </div>
        <hr>
        <div class="m-campaign-members-main-organizer">
          <h2>Beneficiario</h2>
          <!-- <img src="{% static 'img/user.png' %}" class="rounded-circle mb-3" style="width: 150px;" alt="Avatar" /> -->
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 150px;" alt="Avatar" />
          <h5 class="mb-2"><strong> {{ campaña.beneficiario }}</strong></h5>
        </div>
        <hr>
        <!--Se MUESTRA SOLO SI NO HAN HABIADO DONACIONES EN LA CAMPAÑA-->
        {% if campaña.monto_recaudado == 0 %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'img/voluntariado.png' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong>Sé el primero en contribuir con esta campaña</strong></h5>
                <p class="card-text">Tu donativo es el punto de partida para que esta campaña tenga éxito. Tu apoyo en los comienzos inspira a donar a los demás..</p>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'checkout' campaña.id %}">
                  <div class="col-lg-8">
                    <button type="button" class="btn btn-primary btn-lg" onclick="ventana_aporte('{{ csrf_token }}')">Donar</button>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr>
        {% endif %}
        <hr>

        <h2>Comentarios de los donantes</h2>
  
        {% if not campaña.comentario.all %}
          Esta campaña no tiene comentarios aún... 
      </br>
          <a href="#">Hacer un comentario</a>
  
        {% else %}
            {% for comentario in  campaña.comentarios.all %}
              <strong>
                {{ comentario.name }} - 
                {{ comentario.fecha }}
              </strong>
              <br>
              {{ comentario.body }}
              <br/> 

            {% endfor %}
        {% endif %}
        <br/> <br/>
        <a href="{% url 'comentario' %}">Hacer un comentario</a>

        <!-- <h2>Comentarios de los donantes</h2>
          {% for donacion in campaña.donaciones.all %}
            <div class="comments" style="padding: 10px;"> 
              <p class="font-weight-bold"> 
                {{ donacion.usuario}} dijo:
              </p>
              <p>
                {{ donacion.comentario | linebreaks}}
              </p>
            </div>
          {% endfor %} -->
        
        <!-- <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="#">Newer</a>
          <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Older</a>
        </nav> -->

        <!-- <h2>Comentarios de los donantes</h2>
        <ul>
          {% for donacion in campaña.donaciones.all %}
          <li>
            <p>{{ donacion.usuario}} dijo:</p>
            <p>"{{ donacion.comentario}}"</p>
          </li>
          {% endfor %}
        </ul> -->

      </article>
    </div>


    <!--PARTE QUE DICE ABOUT-->
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <br>
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">Monto Recaudado</h4>
          <p class="mb-0">Hasta el momento esta campaña ha recaudado ${{ campaña.monto_recaudado }} de ${{ campaña.monto_a_recaudar }}  </p>
        </div>
        
        <!--LO QUE ESTA DEBAJO DE ABOUT      INVESTIGAR     -->   
        <div>
          <h4 class="fst-italic">Haz tu donación</h4>
          <ul class="list-unstyled">
            {% if user.is_authenticated %}
              {% if fecha_actual <= campaña.fecha_cierre %}
                <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'checkout' campaña.id %}">
                    <img src="https://st4.depositphotos.com/5225467/22068/v/450/depositphotos_220680152-stock-illustration-paypal-logo-printed-on-white.jpg" width="50%" height="50%" alt="">
                    <div class="col-lg-8">
                      <button type="button" class="btn btn-primary btn-lg" onclick="checkout('{{ csrf_token }}')">Donar</button>
                    </div>
                  </a>
                </li>
              {% else %}
                <li>
                    <img src="https://st4.depositphotos.com/5225467/22068/v/450/depositphotos_220680152-stock-illustration-paypal-logo-printed-on-white.jpg" width="50%" height="50%" alt="">
                    <div class="col-lg-8">
                      <p>Lo sentimos. La campaña ha finalizado, ya no se puede realizar donaciones.</p>
                    </div>
                </li>
              {% endif %}
            {% else %}
              <li>
                <img src="https://st4.depositphotos.com/5225467/22068/v/450/depositphotos_220680152-stock-illustration-paypal-logo-printed-on-white.jpg" width="50%" height="50%" alt="">
                <div class="col-lg-8">
                  <p>Debes iniciar secion para realizar una donación.</p>
                </div>
            </li>
            {% endif %}
              <br>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <h4 class="mb-0">Periodo de financiamiento</h4>
                  <small class="text-body-secondary">Del {{ campaña.fecha_inicio }} al {{ campaña.fecha_cierre }} </small>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}