{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">  
    <link rel="shortcut icon" href="https://www.freeiconspng.com/uploads/helping-hand-icon-png-4.png">
    <!-- <a href="https://www.freeiconspng.com/img/14598" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/helping-hand-icon-png-4.png" width="350" alt="Helping Hand .ico" /></a> -->
</head>
<body>
    <main>
        <div class="container mt-5">
            <div class="row h-100 justify-content-center align-items-center">        
                <div class="col-md-4">
                    <h3 class="text-center">Registro de usuario</h3>

                    <form action="javascript:sign_up('{{csrf_token}}')" class="m-auto needs-validation" novalidate autocomplete="off">
                        <div class="form-floating mt-2">
                            <input type="email" class="form-control" id="floatingEmailInput" placeholder="nombre@dominio.com" required>
                            <label for="floatingEmailInput">Email</label>
                            <div class="invalid-feedback">
                                Ingrese un email válido
                            </div>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="text" class="form-control" id="floatingNombreInput" placeholder="Nombre" required minlength="3">
                            <label for="floatingNombreInput">Nombre</label>
                            <div class="invalid-feedback">
                                Ingrese su nombre, debe tener al menos 3 caracteres
                            </div>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="text" class="form-control" id="floatingApellidoInput" placeholder="Apellido" required minlength="3">
                            <label for="floatingApellidoInput">Apellido</label>
                            <div class="invalid-feedback">
                                Ingrese su apellido, debe tener al menos 3 caracteres
                            </div>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required minlength="6" maxlength="10">
                            <label for="floatingPassword">Contraseña</label>
                            <div class="invalid-feedback">
                                Ingrese una contraseña que pueda recordar, debe tener entre 6 y 10 caracteres
                            </div>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="password" class="form-control" id="floatingPassword2" placeholder="Password" required minlength="6" maxlength="10">
                            <label for="floatingPassword2">Confirmar contraseña</label>
                            <div class="invalid-feedback">
                                Confirme la contraseña
                            </div>
                        </div>
                        <div class="d-none text-danger text-center" id="feedbackOtrasValidaciones"></div>
                        <div class="btn-group w-100 my-3" role="group" aria-label="Botones SignUp">
                            <button class="btn btn-primary" type="submit">Registrar</button>
                            <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>       
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/signup.js' %}"></script>    
</body>
</html>