{% extends "fijos.html" %}
{% block title %}Términos{% endblock %}
{% block content %}
<hr>

<div class="container">
    <div class="row">
      <div class="col">

      </div>

      <div class="col-8">
        <article id="post-108" class="post-108 page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title">Términos y Condiciones de Uso</h1>
            </header><!-- .entry-header -->

            <div class="entry-content">
                <body>
                    <br>
                    <p>Bienvenido al sitio web de crowdfunding "DreamBig". Al acceder o utilizar este sitio web, usted acepta estar sujeto a los siguientes términos y condiciones:</p>
       
                    <h2>1. Uso de la Plataforma</h2>
                    <p>1.1. Requisitos de Registro: Para utilizar algunos servicios de la Plataforma, es posible que deba registrarse y crear una cuenta. Debe proporcionar información precisa y completa durante el proceso de registro y mantener su información actualizada.</p>
                    <p>1.2. Edad Mínima: Debe tener al menos 18 años para utilizar la Plataforma. Si es menor de edad, debe obtener el consentimiento de un padre o tutor legal.</p>
                
                    <h2>2. Proyectos y Contribuciones</h2>
                    <p>2.1. Proyectos: Los creadores de proyectos son responsables de proporcionar información precisa y completa sobre sus proyectos, incluyendo descripciones, objetivos de financiamiento y recompensas ofrecidas a los patrocinadores.</p>
                    <p>2.2. Contribuciones: Al patrocinar un proyecto, acepta proporcionar la cantidad especificada a través de los métodos de pago disponibles en la Plataforma. Su contribución solo se cobrará si el proyecto alcanza su objetivo de financiamiento.</p>
                
                    <h2>3. Financiamiento y Pagos</h2>
                    <p>3.1. Éxito del Proyecto: Un proyecto se considera exitoso cuando alcanza su objetivo de financiamiento antes de la fecha límite establecida. Si un proyecto no alcanza su objetivo, las contribuciones se cancelarán y no se le cobrará nada.</p>
                    <p>3.2. Pagos: Las contribuciones exitosas se procesarán a través de los métodos de pago especificados en su cuenta. Nos reservamos el derecho de retener pagos en caso de disputas o sospechas de fraude.</p>
                
                    <h2>4. Cancelaciones y Reembolsos</h2>
                    <p>4.1. Cancelaciones por el Creador del Proyecto: Los creadores de proyectos pueden cancelar un proyecto antes de la fecha límite de financiamiento. En caso de cancelación, los patrocinadores recibirán un reembolso completo.</p>
                    <p>4.2. Reembolsos: Los reembolsos se manejarán de acuerdo con la política de reembolso del creador del proyecto. Los creadores son responsables de cumplir con sus compromisos de reembolso.</p>
                
                    <h2>5. Responsabilidad y Conflictos</h2>
                    <p>5.1. No Somos Parte en los Proyectos: Entiende y acepta que "DreamBig" no es responsable de la ejecución de los proyectos y no garantiza la calidad, entrega o cumplimiento de las recompensas prometidas por los creadores de proyectos.</p>
                    <p>5.2. Disputas: Cualquier disputa entre un creador de proyecto y un patrocinador debe resolverse entre las partes involucradas. "DreamBig" no interviene en disputas y no asume responsabilidad por ellas.</p>
                
                    <h2>6. Propiedad Intelectual</h2>
                    <p>6.1. Derechos de Propiedad Intelectual: Los creadores de proyectos conservan todos los derechos de propiedad intelectual sobre su contenido. Los patrocinadores pueden utilizar el contenido proporcionado por los creadores solo de acuerdo con los términos establecidos en el proyecto.</p>
                
                    <h2>7. Privacidad</h2>
                    <p>7.1. Privacidad: Su privacidad es importante para nosotros. Consulte nuestra Política de Privacidad para obtener información sobre cómo manejamos sus datos personales.</p>
                
                    <h2>8. Cambios en los Términos y Condiciones</h2>
                    <p>8.1. Modificaciones: Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios entrarán en vigencia después de su publicación en la Plataforma.</p>
                
                    <h2>9. Ley Aplicable</h2>
                    <p>9.1. Ley y Jurisdicción: Estos términos y condiciones se rigen por las leyes del Ecuador, y cualquier disputa se someterá a la jurisdicción exclusiva de los tribunales de Guayaquiil.</p>
                
                    <p>Al utilizar nuestra Plataforma, usted acepta estos términos y condiciones. Si no está de acuerdo con estos términos, le recomendamos que no utilice nuestra Plataforma.</p>
                
                    <p>Siempre consulte a un abogado o profesional legal para garantizar que sus términos y condiciones cumplan con las leyes aplicables en su jurisdicción y se adapten a sus necesidades específicas.</p>
                </body>
        </article>
        </div>
        <div class="col"> </div>
        </div>
        </div>

<hr>
<br>
{% endblock %}